<form action="/createData">
  name =
  <input
    type="text"
    name="name"
    value="<%= edit ? edit.name : '' %>"
  /><br /><br />

  surname =
  <input
    type="text"
    name="surname"
    value="<%= edit ? edit.surname : '' %>"
  /><br /><br />

  <button type="submit">Submit</button>
</form>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <% stData.map((i,index)=> { %>
  <tr>
    <td><%= i.name %></td>
    <td><%= i.surname %></td>
    <td>
      <button><a href="/deleteData/<%= index %>">Delete</a></button>
    </td>
    <td>
      <button><a href="/updateData/<%= index %>">Edit</a></button>
    </td>
  </tr>
  <% }) %>
</table>
